body{
    background-color: rgb(1, 153, 59);
    color: rgb(243, 204, 157);
}

#cvimg{
    border-radius: 90px 90px 90px 90px;
    width: 100px;
    height: 100px;
    background-image: url("/LiveCode/OIP.jpg");
    background-size: cover;
}
#info{
    background-color: rgb(243, 204, 157);
}

#profile{
    background-color: black;
    padding: 10px;
}

#education{
    color: rgb(172, 124, 0);
    background-color: white;
    padding: 10px;
}
#soft_skills{
    display:none;
}
#show:hover + #soft_skills{
    display: block;
    
}
#soft_skills:hover{
    display: block;
}

